In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
%matplotlib inline

In [43]:
Fs = 30000.

In [8]:
clu_f = np.load('./frontal/spike_clusters.npy')

In [9]:
ss_f = np.load('./frontal/spike_times.npy')

In [44]:
st_f = ss/Fs

In [11]:
spkTemps_f = np.load('./frontal/spike_templates.npy')

In [12]:
amps_f = np.load('./frontal/amplitudes.npy')

In [13]:
amps_f

array([[ 18.51144409],
       [ 12.93832397],
       [ 47.23517227],
       ...,
       [ 23.7265625 ],
       [ 31.41118622],
       [ 18.56385803]])

In [14]:
np.shape(amps_f)

(7270137, 1)

In [16]:
np.shape(st_f)

(7270137, 1)

In [17]:
np.shape(clu_f)

(7270137,)

In [19]:
cid_g_f = pd.read_csv('./frontal/cluster_groups.csv',sep='\t')

In [25]:
noise=cid_g_f[cid_g_f['group']=='noise']

In [45]:
clu_f=pd.DataFrame(clu_f)
clu_f.columns = ['clusters']
st_f_clean=st_f[~clu_f.isin(noise['cluster_id'].tolist())]

In [46]:
np.shape(st_f_clean)

(6934709,)

In [47]:
st_f_clean=pd.DataFrame(st_f_clean)
st_f_clean.columns = ['spike times']
st_f_clean

         spike times
0           0.005400
1           0.006633
2           0.007800
3           0.007867
4           0.008100
5           0.009367
6           0.009400
7           0.010433
8           0.011200
9           0.011500
10          0.011533
11          0.012033
12          0.012767
13          0.013767
14          0.014667
15          0.015100
16          0.016133
17          0.017500
18          0.017633
19          0.019467
20          0.019533
21          0.019767
22          0.020233
23          0.020800
24          0.020833
25          0.021100
26          0.021767
27          0.024700
28          0.025000
29          0.025267
...              ...
6934679  5049.284900
6934680  5049.286633
6934681  5049.286633
6934682  5049.286700
6934683  5049.286767
6934684  5049.290367
6934685  5049.290967
6934686  5049.291400
6934687  5049.291433
6934688  5049.293333
6934689  5049.293667
6934690  5049.293700
6934691  5049.294633
6934692  5049.295200
6934693  5049.295833
6934694  5049.296167
6934695  5049.296700
6934696  5049.297633
6934697  5049.298933
6934698  5049.299067
6934699  5049.299633
6934700  5049.300500
6934701  5049.301933
6934702  5049.302967
6934703  5049.304433
6934704  5049.306100
6934705  5049.306133
6934706  5049.308533
6934707  5049.310233
6934708  5049.310367

[6934709 rows x 1 columns]

In [49]:
clu_f_clean=clu_f[~clu_f.isin(noise['cluster_id'].tolist())]
clu_f_clean=pd.DataFrame(clu_f_clean)
clu_f_clean.columns = ['clusters']
clu_f_clean.isnull().sum()

clusters    335428
dtype: int64